PSSServicesConnector/Service References/AmadeusWebServices/PNR_Cancel_14_2_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/PNRXCL_14_2_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/PNRXCL_14_2_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PNR_Cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR CANCEL</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationInfo" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation control informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrActions" type="OptionalPNRActionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specific actions to be processed on PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="4" name="cancelElements" type="CancelPNRElementType">
          <xs:annotation>
            <xs:documentation xml:lang="en">CANCEL PNR ELEMENT</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPNRElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To cancel a PNR element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="entryType" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cancel type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="999" name="element" type="ElementIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="number" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">element number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subElement" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">sub element number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify specific Actions to be processed on PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="40" name="optionCode" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing options. Only the option 0, 10, 11 and 20 are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>