PSSServicesConnector/Service References/AmadeusWebServices/PNR_List_00_1_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/TNLRES_00_1_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PNR_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="freeFormText" type="InteractiveFreeTextTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">provide free from or coded text information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="citypair">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originDestinationMarker" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">origin and destination</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="300" name="travellerInformationSection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travellerInformation" type="TravellerInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a traveler and personal details relating to the traveler.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="relatedProduct" type="RelatedProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="travelProduct" type="TravelProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="reservationInfo" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify a reference to a reservation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="productInfo" type="ProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify details related to availability status or cabin configuration for a product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="messageAction" type="MessageActionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">to specify the message type and business function</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="errorInformation" type="ApplicationErrorInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">to specify the error or information</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailTypeI">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error, coded - 366 for name list too long</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code list qualifier - INF for information code , WEC for warning code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responsibleAgency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code list responsible agency, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetail" type="ApplicationErrorDetailTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">APPLICATION ERROR DETAIL</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification , airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:sequence>
      <xs:element name="subjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies whether the free text is coded or not coded  3 for Literal text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded text, or specifies type of information in the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free form or coded text information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="freetextDetail" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">FREE TEXT QUALIFICATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="text" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:sequence>
      <xs:element name="cityCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point  For non air segment, e.g. SUR, can be alphanumeric.  5 chars long Board and Off points for SNCF TRN segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="business" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">MESSAGE FUNCTION OR BUSINESS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:sequence>
      <xs:element minOccurs="0" name="function" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:sequence>
      <xs:element name="depDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">departure date of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteritic identification - class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item description identification - N for Night class</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:sequence>
      <xs:element name="identification" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Idenfication -Flight number or  OPEN (ARNK is not a possible value since no SI in similar name list)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subtype" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number alpha suffix  A, B, C, D, E</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to availability status or cabin configuration for a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="ProductDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="quantity" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number in party</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status, coded , cancel indicator , XX-cancel Airimp code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification - 1A for amadeus</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number - amadeus record locator of the requested PNR</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT DATE OR TIME</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="boardpointDetail" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="offpointDetail" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="companyDetail" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">COMPANY IDENTIFICATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="productDetails" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">PRODUCT IDENTIFICATION DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:sequence>
      <xs:element name="firstName" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller First Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify travelers and personal details relating to the travelers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="traveller" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="9" name="passenger" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller last name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>