PSSServicesConnector/Service References/AmadeusWebServices/Security_Authenticate_06_1_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/VLSSLQ_06_1_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Security_Authenticate">
    <xs:annotation>
      <xs:documentation xml:lang="en">Message used to authenticate any user through the Logon and Security Server.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conversationClt" type="ConversationIDType">
          <xs:annotation>
            <xs:documentation xml:lang="en">It contains conversation properties between the SI and the JFE.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="2" name="userIdentifier" type="UserIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is dedicated to specify a user identifier. The first one  for the main logon and the second one to the delegate user if any. Either a SignId or a UserId can be used, depending on DE 9972 value (Z for Sign Id, U for User Id). The value itself is specified in DE 9904.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dutyCode" type="ReferenceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment can be used to specify an AMADEUS Duty Code for the TPF sign in. DUT must be specified in the qualifier.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="systemDetails" type="SystemDetailsInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to specify the system which is used by the user. The workstation Id (DE 3148) can be specified to determine the location in terms of office of the request (if no workstation Id, the source office must be specified in the first UID segment). Moreover, if a User Id is used instead of a Sign Id, the organization must be specified in DE 9906. WorkstationId is actually the Atid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="2" name="passwordInfo" type="BinaryDataType">
          <xs:annotation>
            <xs:documentation xml:lang="en">These segments contain the password information. Two segments can be used in case of a New password is required.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="fullLocation">
          <xs:annotation>
            <xs:documentation xml:lang="en">Full Location of the workstation</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workstationPos" type="PlaceLocationIdentificationTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Stores the location of the workstation.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="locationInfo" type="TerminalLocationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains terminal and facility or worstation id.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="applicationId" type="ApplicationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conatins Baleb and INdex of application. ex: JFE 1</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify application details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="internalId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application Label. Exemple : NGD. Label is the first part of the ApplicationId. Label is considered as an Internal Id, as it is the key of the application.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="seqNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application Index. Index is part of the ApplicationId.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to specify details on an application</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationDetails" type="ApplicationIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of the application.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryDataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to carry binary data within an Edifact segment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataLength" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length of the data element 114Z. The unit is given in number of binary characters (bytes).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of the data. When E is specified, this means that the password is not crypted. When B specified, this means that the password is crypted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="binaryData" type="AlphaNumericString_Length1To99999">
        <xs:annotation>
          <xs:documentation xml:lang="en">used to store binary data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversationIDType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment stores all conversation porperties in the core of the message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="senderIdentification" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sender identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recipientIdentification" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Recipient identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="senderInterchangeControlReference" type="AlphaNumericString_Length1To14">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sender's interchange control reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recipientInterchangeControlReference" type="AlphaNumericString_Length1To14">
        <xs:annotation>
          <xs:documentation xml:lang="en">Recipient's interchange control reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the Facility, coded. E.g.: - Check-In Desk - Gate... The codeset is not yet defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="identifier" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique Reference to a Facility of a given Type in a terminal. This can be several kind of values. E.g.: - 25 (means Gate 25 when associated  Facility Type= Gate, or Check-in Desk 25 when associated Facility Type= Check-In Desk) - BAEXC: means Ba-Executive Club Lounge when associated to</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of a location by code or name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport(139) or City (227) code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="qualifier" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discriminator between airport or city.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceOffice" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">AMADEUS Office Id the workstation belongs to. Must be empty if a workstation Id is specified in the SYS segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="locationDescription" type="LocationIdentificationBatchTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of the location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="firstLocationDetails" type="RelatedLocationOneIdentificationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dutyCodeDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite  duty code information. For Duty code info, DUT must be specified in the Qualifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code determining if the data is a tree identifier, a category identifier or a parent category identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceIdentifier" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal (180) or Building(300) code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="qualifier" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discriminator between airport or city.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify a system</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="workstationId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field contains a workstation Identifier. It is used to retrieve the physical origin of the request (mainly for printing purposes) .</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="organizationDetails" type="SystemDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify an organization when User Id logon is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="idQualifier" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Explain what type of workstation ID is stored in data element 3148</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify by code or name and location the system that originates or delivers the message for a third party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="organizationId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This DE is used to specify an organization Id such as BA, 1A or QF.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey information related to a specific Facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="originIdentification" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the source office the workstation belongs to. Not used in the second repetition of the segment (if any, it will not be taken into account). Used when no workstation Id is specified in SYS segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given in DE 9900.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">Authority code of the requester If Sign Id : (Numeric Sine)+(Agent Initials) ex : 0001XV). If user Id : Logon User Id.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To14">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..14</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>